<div id="cBottom">
    <div id="cGuide">
        <div class="links">
            <h3>관련링크</h3>
            <ul>
                <li class="first"><a href="http://cafe.daum.net/supporters?t__nil_menu=cafesupporters">카페 서포터즈</a></li>
                <li><a href="http://cafe.daum.net/_clean/cleancafe.html?t__nil_menu=cleancafe">클린 카페</a></li>
                <li><a href="http://army.daum.net/?t__nil_menu=army" target="_blank">육군 공식카페</a></li>
                <li><a href="http://cafe.daum.net/brand/brandcafe.html?t__nil_menu=brandcafe">브랜드 카페</a></li>
                <li><a href="http://intro.mobile.daum.net/sub.daum?cmd=cafe&t__nil_menu=mobilecafe" target="_blank">모바일 카페</a></li>
                <li class="cafeMake"><a href="http://cafe.daum.net/make/cafe_make.html?t__nil_menu=cafemake">카페 만들기</a></li>
            </ul>
        </div>
        <div class="blogHelp">
            <h3>도움말</h3>
            <ul>
                <li class="first"><a href="http://cs.daum.net/faq/site/36.html?t__nil_menu=cs">고객센터</a></li>
                <li><a href="http://cs.daum.net/mail/form/36.html?t__nil_menu=csmall">문의하기</a></li>
            </ul>
        </div>
    </div>
    <div id="footer">
        <a href="http://www.daum.net/doc/info.html?t__nil_footer=info" class="first">서비스약관/정책</a>
        <a href="http://cs.daum.net/redbell/right.html?t__nil_footer=right">권리침해신고</a>
        <a href="http://cafe.daum.net/agreement/agreement_2010.html?t__nil_footer=agreement">이용약관</a>
        <a href="<%=request.getContextPath()%>/bbs/bbs.html" target="_blank">즐거운 人터넷</a>
        <!-- <a href="" target="_blank">검색비공개요청</a> -->
        <p>
            Copyright (c) <a href="http://info.daum.net/">Daum Communications.</a> All rights reserved.
        </p>
    </div>
</div>